

<div>
  <table border="1" width="400px" cellpadding="2">
    <tr>
      <td><b>Category</b></td>
      <td><b>price</b></td>
      <td><b>quantity</b></td>
    </tr>
          <tr *ngFor="let product of productsService.products; let i = index" >
            <td width="38%">
                {{product.name}}
            </td>
            <td width="15%">
               {{product.price|number:'1.2'}}
            </td>
            <td width="7%">
            <ng-template #editingProduct>
              <label>
                <input class="quantityInp" type="number" min="0" [(ngModel)]="product.quantity"
                       (blur)="productsService.done_editProduct(product)">
              </label>
            </ng-template>

            <div *ngIf="!product.editing, else editingProduct"> {{product.quantity}}</div>
            </td>

      <div *ngIf="!List">
        <button (click)="productsService.removeProduct(product.id)"> clear </button>
        <button *ngIf="!product.editing" (click)="productsService.editProduct(product)">addItem</button>
        <button *ngIf="product.editing" (click)="productsService.done_editProduct(product)">addItem</button>
      </div>
        <div *ngIf="List">
          <button *ngIf="product.quantity > 0 "
                  (click)="productsService.purchaseProduct(product.id, product) ">Purchase</button>
        </div>
    </tr>
  </table>
</div>


<div *ngIf="!List">


  <br>
  <tr>
    <td><b>Category</b></td>
    <td><b>price</b></td>
    <td><b>quantity</b></td>
  </tr>

  <tr>
    <td>
      <label>
        <input  [(ngModel)] ="name" pattern="^[a-zA-Z\s]+$" >
      </label>
    </td>

    <td>
      <label>
        <input min="0" class="priceInp" type="number"   [(ngModel)]="price"  >
      </label>
    </td>

    <td>
      <label>
        <input min="0" class="quantityInp" type="number"  [(ngModel)]="quantity">
      </label>
    </td>


           <td><button (click)="addProduct()">AddCategory</button></td>
    </tr>
</div>


<br>
    <div>
        <button *ngIf="!List" (click)="toggle()">List</button>
        <button *ngIf="List" (click)="toggle()">ADD Category</button>
    </div>


<!--Purchase-->
<div >
<br>
<span><button >report</button></span>
<br>
<div >
    <span ><h3>Purchase list</h3></span>
  <table border="1" width="30%" cellpadding="3">
    <tr>
      <td><b>Category</b></td>
      <td><b>price</b></td>
      <td><b>Date</b></td>
    </tr>
    <tr *ngFor="let order of productsService.orders; let i = index" >
          <td>
            {{order.name}}
          </td>

         <td>
            {{order.price|number:'1.2'}}
         </td>

          <td>
              {{order.date|date:'y-M-d'}}
          </td>
    <tr>Total:</tr>
  </table>
  </div>
</div>
