<div class="contentList">
    <table *ngIf="productsService.products.length>0">
       <tr >
          <td><b>Category</b></td>
             <td><b>Price</b></td>
                 <td><b>Quantity</b></td>
            </tr>
      <tr *ngFor="let product of productsService.products; " >
          <td >{{product.name}}</td>
            <td>{{product.price|number:'1.2'}}</td>
                <td>
                   <ng-template #editingProduct>
                       <label>
                         <input class="quantityInpEdit" type="number" min="0" [(ngModel)]="product.quantity"
                 (blur)="productsService.done_editProduct(product)">
               </label>
            </ng-template>
      <div *ngIf="!product.editing, else editingProduct"> {{product.quantity}}</div>
    </td>

    <div  *ngIf="!listProducts">
      <button *ngIf="!product.editing" (click)="productsService.editProduct(product)">add Item</button>
      <button *ngIf="product.editing" (click)="productsService.done_editProduct(product)">add Item</button>
    </div>

    <div  *ngIf="listProducts">
      <button class="btnPurchase" *ngIf="product.quantity > 0 "
              (click)="productsService.purchaseProduct(product) ">Purchase</button>
    </div>
  </tr>
</table>
</div>

<div class="inputs">
      <div>
         <div *ngFor="let product of productsService.products;">
             <div *ngIf="!listProducts ">
        <button class="btnClear"  *ngIf="product.quantity == 0" (click)="productsService.removeProduct()">clear</button>
       </div>
    </div>

  <div *ngIf="!listProducts">
    <br>
    <tr>
      <td><b>Category</b></td>
      <td><b>price</b></td>
      <td><b>quantity</b></td>
    </tr>
    <tr>
      <td>
        <label>
          <input class="inputName" [(ngModel)] ="name"  >
        </label>
      </td>
      <td>
        <label>
          <input class="priceInp"  min="0" type="number"   [(ngModel)]="price"  >
        </label>
      </td>
      <td>
        <label>
          <input  class="inputQuantity" min="0"  type="number"  [(ngModel)]="quantity">
        </label>
      </td>
      <td><button class="addCategory2" (click)="addProduct()">Add Category</button></td>
    </tr>
  </div>
  <div>
    <button class="btnList" *ngIf="!listProducts" (click)="toggle(); productsService.sortProduct()">List</button>
    <button class="addCategory1" *ngIf="listProducts" (click)="toggle()">ADD Category</button>
  </div>
  </div>
</div>


